<ion-list>
	<ion-item class="d-menu-item" (click)="openWhyInvest()">
		Why invest ?
	</ion-item>
	<ion-item class="d-menu-item" (click)="openHelp()">
		Investment Tips & Help
	</ion-item>
	<ion-item class="d-menu-item" (click)="chooseCurr()">
		Choose Currency
	</ion-item>
	<ion-item class="d-menu-item" (click)="openRateUs()">
		Rate Us
	</ion-item>
	<ion-item class="d-menu-item" (click)="openEmailUs()">
		Talk To Us
	</ion-item>
	<ion-item class="d-menu-item" (click)="openAboutUs()">
		About Us
	</ion-item>
</ion-list>