email-modal {
  .add-btn {
    width: 90%;
    left: 5%;
  }

  .textarea {
  	border: 1px solid #eee;
  	left: 5%;
  	right: 5%;
  	width: 90%;
  	margin-top: 20px;
  	margin-bottom: 20px;
  }

  .help-text {
    left: 5%;
    right: 5%;
    width: 90%;
    position: relative;
    padding-top: 10px;
  }
}
