<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <div class="flex-container-header">
        <img class="header-logo" alt="logo" src="assets/imgs/logo.png">
        <div class="header-title">Existing</div>
      </div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let investment of investments; let i = index">
      <ion-item>
        {{investment.name}}
        <p class="item-details">{{typesObj[investment.type]}}</p>
        <p class="item-details">Started on {{utilService.getDate(investment.startDate)}}</p>
        <div *ngIf="isProfit(investment) === 'FALSE'" class="item-loss" item-end>{{getLossPer(investment)}}</div>
        <div *ngIf="isProfit(investment) === 'TRUE'" class="item-profit" item-end>{{getProfitPer(investment)}}</div>
        <div *ngIf="isProfit(investment) === 'NONE'" class="item-even" item-end>{{getProfitPer(investment)}}</div>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="confirmDelInvestment(investment, i)">
        	DELETE
        </button>
        <button ion-button color="dark" (click)="editInvestment(investment, i)">
        	EDIT
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div [style.display]="!investments.length ? 'block' : 'none'" class="no-data">
    You haven't added any investments yet. Click on 'Add New' to get started
  </div>
</ion-content>
