<ion-header>
  <ion-toolbar [color]="getTheme()">
    <ion-title>
      {{chartTitle}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows,core"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
    <ion-item>
      <ion-label floating>Select Type</ion-label>
      <ion-select [(ngModel)]="type" (ngModelChange)="changeType($event)">
        <ion-option [value]="type" *ngFor="let type of getKeys(typesWithNames)">{{typesWithNames[type].label}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-content>
      <canvas #drillchart width="100" height="120"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>