<ion-header>
    <ion-toolbar [color]="getTheme()">
        <ion-title>
            Choose Theme
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android,windows,core"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list radio-group class="dark-list">
        <ion-item *ngFor="let theme of themes" class="dark-item">
            <ion-label>{{theme.name}}</ion-label>
            <ion-radio [checked]="getTheme() === theme.id" [value]="theme" (click)="selectTheme(theme.id)">
            </ion-radio>
        </ion-item>
    </ion-list>
</ion-content>