<form #iForm="ngForm" (ngSubmit)="handleFormSubmit()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label floating>Name (Give a name to your investment)</ion-label>
        <ion-input type="text" (ionChange)="validate($event)" [(ngModel)]="investment.name" name="name" required [disabled]="isEdit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Type</ion-label>
        <ion-select [(ngModel)]="investment.type" name="type" required>
          <ion-option [value]="type.type" *ngFor="let type of types">{{type.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Amount Invested</ion-label>
        <ion-input type="number" [(ngModel)]="investment.totalAmount" name="totalAmount" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Started On</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="investment.startDate" name="startDate" [max]="maxDate" required></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating>Maturity Date (Optional)</ion-label>
        <ion-datetime 
          displayFormat="DD MMM YYYY" 
          [(ngModel)]="investment.maturityDate" 
          name="maturityDate" 
          [min]="minDate"
          max="2099"
          [pickerOptions]="customOptions"
          ></ion-datetime>
      </ion-item>
      <div class="custom-checkbox">
        <ion-checkbox 
          color="getTheme()" 
          [(ngModel)]="investment.remindMe" 
          name="remindMe" 
          [disabled]="(investment.maturityDate ? false : true) || isMaturityDatePassed()"
        ></ion-checkbox>
        <ion-label>Remind Me <ion-icon class="info-icon" name="information-circle" (click)="showRemindMeHelp()"></ion-icon></ion-label>
      </div>
      <ion-item>
        <ion-label floating>Profit Till Date</ion-label>
        <ion-input type="number" [(ngModel)]="investment.profit" name="profit" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Loss Till Date</ion-label>
        <ion-input type="number" [(ngModel)]="investment.loss" name="loss" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Notes (Optional)</ion-label>
        <ion-textarea rows="5" [(ngModel)]="investment.notes" name="notes" maxlength="1000"></ion-textarea>
      </ion-item>
      <ion-item class="last-list-item"></ion-item>
    </ion-list>
    <ion-card>
      <ion-card-header  class="custom-card-header" (click)="toggle = !toggle; reset && reset('add')">
        Add to investment <br> periodically (Optional)
        <ion-icon class="arrow-icon" [name]="toggle ? 'ios-arrow-down' : 'ios-arrow-forward'"></ion-icon>
      </ion-card-header>
      <ion-card-content [ngClass]="toggle ? 'card-show': 'card-hide'">
        <b>Note:</b> Auto add invested amount to this investment periodically. You can change this from existing tab anytime.
        <ion-item>
          <ion-label floating>Amount to be added</ion-label>
          <ion-input type="number" [(ngModel)]="addition.amount" name="amount"></ion-input>
        </ion-item>
        <div class="notes"><ion-note>Make amount 0 to remove periodic investment.</ion-note></div>
        <ion-item>
          <ion-label floating>Every (In Months)</ion-label>
          <ion-input type="number" [(ngModel)]="addition.period" name="period"></ion-input>
        </ion-item>
        <div class="notes"><ion-note>After every how many months should we add this amount.</ion-note></div>
        <ion-item>
          <ion-label floating>Till When</ion-label>
          <ion-datetime 
            displayFormat="MMM YYYY" 
            [(ngModel)]="addition.tillDate" 
            name="tillDate" 
            [min]="minDate"
            max="2099"
            [pickerOptions]="customOptionsForTillDate"
          ></ion-datetime>
        </ion-item>
        <ion-item class="last-list-item"></ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header class="custom-card-header" (click)="toggle2 = !toggle2; reset && reset('pro')">
        Increment profit <br> periodically (Optional) 
        <ion-icon class="arrow-icon" [name]="toggle2 ? 'ios-arrow-down' : 'ios-arrow-forward'"></ion-icon>
      </ion-card-header>
      <ion-card-content [ngClass]="toggle2 ? 'card-show': 'card-hide'">
        <b>Note:</b> Auto add profit amount to this investment periodically. You can change this from existing tab anytime.
        <ion-item>
          <ion-label floating>Profit to be added</ion-label>
          <ion-input type="number" [(ngModel)]="profitAddition.profit" name="pamount"></ion-input>
        </ion-item>
        <div class="notes"><ion-note>Make amount 0 to remove periodic profit increment.</ion-note></div>
        <ion-item>
          <ion-label floating>Every (In Months)</ion-label>
          <ion-input type="number" [(ngModel)]="profitAddition.period" name="pperiod"></ion-input>
        </ion-item>
        <div class="notes"><ion-note>After every how many months should we add this profit</ion-note></div>
        <ion-item>
          <ion-label floating>Till When</ion-label>
          <ion-datetime 
            displayFormat="MMM YYYY" 
            [(ngModel)]="profitAddition.tillDate" 
            name="ptillDate" 
            [min]="minDate"
            max="2099"
            [pickerOptions]="customOptionsForProfitTillDate"
          ></ion-datetime>
        </ion-item>
        <ion-item class="last-list-item"></ion-item>
      </ion-card-content>
    </ion-card>
    <div class="error-block" text-uppercase *ngIf="isError">{{errorMsg}}</div>
    <button [color]="getTheme()" class="add-btn" ion-button block [disabled]="!iForm.form.valid || isDisabled">{{submitButtonText}}</button>
  </form>