investment-form {
	.error-block {
		margin-left: 15px;
    	margin-top: 10px;
    	color: #ef3838;
	}

	.add-btn {
		width: 90%;
    	left: 5%;
    	margin-bottom: 20px;
	}

	textarea {
		resize: none;
	}

	.item-checkbox .item-inner {
		border: none !important;
	}

	.checkbox {
		margin-left: 0 !important;
		margin-right: 10px;
	}

	.custom-checkbox {
		display: flex;
		align-items: center;
		padding-left: 16px;
	}

	.info-icon {
		font-size: 16px;
		margin-left: 3px;
	}

	.notes {
		padding-left: 16px;
	}

	.last-list-item {
		width: 0;
		height: 0;
		position: absolute;
		display: none;
	}

	.card-md .item-md.item-block:not(:last-child) .item-inner {
	  border-bottom: 1px solid #dedede;
	}

	ion-card-header {
		cursor: pointer;
	}

	.custom-card-header {
		display: flex;
		align-items: center;
	}

	.card-show {
		max-height: 1500px;
		transition: padding-top 250ms linear, padding-bottom 250ms linear, max-height 230ms linear;
	}
	  
	.card-hide {
		max-height: 0;
		overflow: hidden;
		transition: padding-top 250ms linear, padding-bottom 250ms linear, max-height 230ms linear;
		padding-top: 0;
		padding-bottom: 0;
	}
}