<ion-header>
  <ion-toolbar [color]="getTheme()">
    <ion-title>
      Calculators
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows,core"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p class="desc">
    Simple SIP Calculator, Profit/Loss Calculator & Lumpsum Calculator. For more info
    <a (click)="showInfo()">CLICK HERE</a>.
  </p>
  <ion-list>
    <ion-item>
      <ion-label floating>Select Calculator</ion-label>
      <ion-select [(ngModel)]="calculator" (ngModelChange)="changeCalc($event)">
        <ion-option value="sip">SIP Calculator</ion-option>
        <ion-option value="lumpsum">Lumpsum Calculator</ion-option>
        <ion-option value="pl">Profit/Loss Calculator</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-content>
      <form #calcForm="ngForm" (ngSubmit)="calculate()" novalidate>
        <ion-list *ngIf="calculator == 'sip' || calculator == 'lumpsum'">
          <ion-item>
            <ion-label floating>{{calculator == 'sip' ? "Monthly" : "Total"}} Investment Amount</ion-label>
            <ion-input type="number" [(ngModel)]="calcObj.amount" name="amount" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Investment Period (In Years)</ion-label>
            <ion-input type="number" [(ngModel)]="calcObj.period" name="period" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Expected Annual Returns (%)</ion-label>
            <ion-input type="number" [(ngModel)]="calcObj.interest" name="interest" required></ion-input>
          </ion-item>
          <ion-item class="last-list-item"></ion-item>
        </ion-list>
        <ion-list *ngIf="calculator == 'pl'">
          <ion-item>
            <ion-label floating>Cost Price</ion-label>
            <ion-input type="number" [(ngModel)]="calcObj.costPrice" name="costPrice" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Selling Price</ion-label>
            <ion-input type="number" [(ngModel)]="calcObj.sellingPrice" name="sellingPrice" required></ion-input>
          </ion-item>
          <ion-item class="last-list-item"></ion-item>
        </ion-list>
        <button [color]="getTheme()" class="calc-btn" ion-button block [disabled]="!calcForm.form.valid">
          Calculate
        </button>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="isShow">
    <ion-card-header>
      Results
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-6>Maturity Amount</ion-col>
          <ion-col col-6 class="text-bold">{{selectedCurr.symbol}}{{result.expectedAmt}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Amount Invested</ion-col>
          <ion-col col-6 class="text-bold">{{selectedCurr.symbol}}{{result.amtInvested}}</ion-col>
        </ion-row>
        <ion-row *ngIf="calculator != 'pl'">
          <ion-col col-6>Wealth Gain</ion-col>
          <ion-col col-6 class="profit-text text-bold">{{selectedCurr.symbol}}{{result.profit}}</ion-col>
        </ion-row>
        <ion-row *ngIf="calculator != 'pl'">
          <ion-col col-6>Absolute Return</ion-col>
          <ion-col col-6 class="profit-text text-bold">{{result.absoluteReturn}}%</ion-col>
        </ion-row>
        <ion-row *ngIf="calculator == 'pl' && result.isProfit">
          <ion-col col-6>Profit</ion-col>
          <ion-col col-6 class="profit-text text-bold">{{selectedCurr.symbol}}{{result.profit}}</ion-col>
        </ion-row>
        <ion-row *ngIf="calculator == 'pl' && !result.isProfit">
          <ion-col col-6>Loss</ion-col>
          <ion-col col-6 class="loss-text text-bold">{{selectedCurr.symbol}}{{result.loss}}</ion-col>
        </ion-row>
        <ion-row *ngIf="calculator == 'pl'">
          <ion-col col-6>Absolute Return</ion-col>
          <ion-col col-6 [ngClass]="{ 'text-bold': true, 'profit-text': (result.absoluteReturn >= 0), 'loss-text': (result.absoluteReturn < 0) }">{{result.absoluteReturn}}%</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
