calc-modal {
	.desc {
		padding-left: 16px;
	}  

	.calc-btn {
		width: 90%;
    	left: 5%;
	}

	.card-md .item-md.item-block:not(:last-child) .item-inner {
	  border-bottom: 1px solid #dedede;
	}

	.card-md .item-md.item-block:not(.item-input):not(.item-select):not(.item-radio):not(.item-checkbox) .item-inner {
	  border: 0;
	}
}
